# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode & other IDE configs
.vscode/
.idea/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# System files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
